
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 120px;
    align-items: center;
    height: 70px;
}
.list a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-left: 30px;

}
.list a:hover{
    color: coral;
}
.navbar button{
    padding: 10px 25px;
    border-radius: 30px;
    background-color: coral;
    border: none;
}
.navbar button:hover{
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    
}
.header{
    padding: 0 120px;
    height: 85vh;
    background: url(./banner.png);
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    
}
.header button{
    padding: 10px 30px;
    border-radius: 30px;
    background: coral;
    margin: 30px 50px;
    border: none;
}
.header button:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}
.header-text{
    width: 350px;
    height: 240px;
    background-color: rgb(251, 234, 214);
    overflow: hidden;
    margin-top: 140px;
    border-radius: 10px;
    padding: 20px 0px 0px 20px;
    margin-left: 650px;
}
.header-text h1{
    color: rgb(167, 125, 33);
}
.header-text h4{
    font-size: 20px;
    margin: 7px;
    color: rgb(167, 125, 33);
}
.header-text p{
    margin-top: 7px;
}
/*-----------About Section-----------*/
.about{
    padding: 30px 120px;
}
.about h1, p{
    text-align: center;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.about-items{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.about-items img{
    width: 300px;
    height: 350px;
    
}
.about-items img:hover{
    opacity: 50%;
    cursor: pointer;
}
/*-----------Extra Section-----------*/
.extra{
    display: flex;
    justify-content: space-between;
    width: 1030px;
    height: 400px;
    text-align: center;
    padding: 60px 120px;
}
.extra img{
    border-radius: 0 10px 10px 0;
}
.extra-text{
    align-items: center;
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
}
.extra-text h4,p{
    margin: 10px 15px;
}
.extra-text h1{
    margin-top: 10px;
    color: rgb(173, 80, 45);
}
/*-----------Our Products Section-----------*/
.product{
    display: flex;
    justify-content: space-between;
    width: 1020px;
    align-items: center;
    padding: 40px 120px;
    overflow: hidden;
}
.product-container h1{
    text-align: center;

}
.products-items{
    background-color: rgb(251, 234, 214);
    padding-bottom: 10px;
}
.products-items img{
    width: 300px;
    height: 400px;
    margin-bottom: 10px;
}
.products-items h3{
    margin-left: 15px;
    font-weight: 600;
}
.products-items h4{
    font-weight: 500;
    margin-left: 10px;
}
.price{
    color: crimson;
}
.btn{
    text-align: center;
    margin: 20px;
}
.btn button{
    padding: 10px 30px;
    align-items: center;
    background-color: coral;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn button:hover{
    background-color: transparent;
    border: 2px solid black;
}
/*-----------footer Section-----------*/
